In [11]:
import requests
import pandas as pd
from IPython.display import display

In [12]:
urlpais = (f"https://covid19-brazil-api.now.sh/api/report/v1/countries")
responsepais = requests.get(urlpais)
contentpais = responsepais.json()

In [29]:
listapaises = []
listamortes = []
for item in contentpais['data']:
    listapaises.append(item['country'])
    listamortes.append(item['deaths'])

df = pd.DataFrame({
    "País": listapaises,
    "Mortes": listamortes
})

above50k = df[df['Mortes'] > 50000]
above50k.sort_values(axis=0, by=["Mortes"])
display(above50k)

               País  Mortes
6         Argentina  115989
23           Brazil  607922
37         Colombia  127311
62           France  118632
66          Germany   95767
79            India  458437
80        Indonesia  143423
81             Iran  126456
85            Italy  132120
115          Mexico  288365
138            Peru  200246
140          Poland   77012
144          Russia  235318
162    South Africa   89179
164           Spain   87368
181          Turkey   70828
182              US  746977
184         Ukraine   72402
186  United Kingdom  141095